* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 0 100px;
  display: flex;
}

/* Responsive */

@media only screen and (max-width: 600px) {
  .container {
    justify-content: center;
  }
  .main-content {
    text-align: center;
  }
  .topAnime {
    display: none;
  }
}
